<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </span>
                    <h4 class="service-heading">Casamentos</h4>
                    <p class="text-muted">Nossos serviços envolvem todas as etapas do seu Casamento, desde a indicação dos fornecedores, auxiliando sempre nas melhores escolhas, levantamentos dos orçamentos até a aprovação final, juntamente com os Nubentes.<br><br> </p>


                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-birthday-cake" aria-hidden="true"></i>
                    </span>
                    <h4 class="service-heading">15 Anos</h4>
                    <p class="text-muted">A chegada dos 15 anos representa um marco de mudança na Vida dos Adolescentes. Este tipo de evento é um momento ideal para fazer algo diferente, que surpreenda.<br><br> </p>


                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-glass" aria-hidden="true"></i>
                    </span>
                    <h4 class="service-heading">Eventos e Comemorações</h4>
                    <p class="text-muted">A ATiva Assessoria e Cerimoniais participa de toda execução deste dia auxiliando seus Clientes em todo planejamento, consultoria, personalização e criatividade para o sucesso do seu Evento.</p>
                </div>

            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-child" aria-hidden="true"></i>
                    </span>
                    <h4 class="service-heading">Chá de bebê e Chá de fralda</h4>
                    <p class="text-muted">Nossos serviços também abordam Chá de Bebê e Chá de Fraldas.<br><br> </p>


                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                    </span>
                    <h4 class="service-heading">Formaturas</h4>
                    <p class="text-muted">Transformando a sua formatura em um acontecimento especial.<br><br> </p>


                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                    <h4 class="service-heading">ATiva Assessoria e Cerimoniais</h4>
                    <p class="text-muted">Entre em <i>CONTATO<i> para que possamos entender suas necessidades e melhor adequar nossos serviços para você.</p>
                </div>

            </div>
        </div>
    </section>


